@charset "UTF-8";

/*=====================
  共通
=====================*/
:root {
  --bg-color-body: #f0f0f0;
  --text-color: #000;
}

[lang='en'] {
  text-transform: uppercase;
}

body {
  background-color: var(--bg-color-body);
  font-family: 'Noto Sans JP', sans-serif;
}

/*=====================
  ヘッダー
=====================*/
.header__inner {
  padding: 18px 10.13% 18px 4.27%;
}

.g-nav__list {
  display: flex;
  gap: 8%;
}
/*=====================
  メインコンテンツ
=====================*/

/*=====================
  フッター
=====================*/
