@charset "UTF-8";

/*=====================
  共通
=====================*/
:root {
  --bg-color-body: #f0f0f0;
  --text-color: #000;
  --title-line-color: #000;
}

[lang='en'] {
  text-transform: uppercase;
}

body {
  background-color: var(--bg-color-body);
  font-family: 'Noto Sans JP', sans-serif;
}

/* コンポーネント */
.c-title {
  position: relative;
  margin-bottom: 70px;
}

.c-title::after {
  position: absolute;
  left: 0;
  bottom: -24px;
  content: '';
  width: 40px;
  height: 1px;
  background-color: var(--title-line-color);
}

.c-title-en {
  display: block;
  margin-bottom: 10px;
  font-size: 2.25rem;
  line-height: 1;
}

.c-title-ja {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5;
}

/* レイアウト */
.l-inner {
  padding: 0 4.27%;
}

/*=====================
  ヘッダー
=====================*/
.header__inner {
  padding: 18px 10.13% 18px 4.27%;
}

.g-nav__list {
  display: flex;
  gap: 8%;
}

/*=====================
  メインコンテンツ
=====================*/
/* メインビジュアル */
.main-visual {
  margin-bottom: 80px;
}

.main-visual__image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

/*=====================
  フッター
=====================*/
